In [2]:
import requests
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET

import statid
import sqlite3

In [3]:
conn = sqlite3.connect('NFL.db')

In [10]:
sql="""
select * from play where clubcode = 'NYJ'"""

In [12]:
df=pd.read_sql(sql,conn)

In [15]:
df[['playerName','playerID']].drop_duplicates()

     playerName    playerID
0      K.Vedvik  00-0034202
1      C.Mosley  00-0031296
2     T.Johnson  00-0029690
3     D.Roberts  00-0031628
5       J.Adams  00-0033872
...         ...         ...
1903   B.Austin  00-0035294
2188   Jo.Adams  00-0034457
2203   M.Canady  00-0032438
2565  T.Compton  00-0029144
2690    K.Brown  00-0035499

[66 rows x 2 columns]